.skillsBlock {
    height: 100vh;
    background-color: #eadca9;

}
.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: start;

}
.title {
    background-color: #bebdbd;

}
.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
